*{
    padding: 1px;
}
html{
    background: linear-gradient(rgb(202, 200, 200) ,coral,aquamarine );

}

h1{
    color:seashell;
    font-size: 50px;
    text-align: center;
}

#menu{
    position: absolute; 
    left: 1140px;;
    width: 40px; height: 40px;
}

.address{
    position: relative;
    left: 240px;
    width: 430px; height: 40px;
}

#imgdomain{
    position: absolute;  
    left: 390px;
    width: 40px; height: 35px;
    background-color: rgb(230, 222, 222);
}

.menu{
	display:none;
}

#browser{
    margin: auto;
    max-width: 76%;
    background-color:rgb(230, 222, 222);
    border-radius: 5px;
}

.responsive-iframe{
    position: relative;
    top: 0;
    left:159px;
    right: 0;
    width: 76%;
    height: 100%;
    box-sizing: border-box;
    border: this solid #ccc;
}
.close_button{
    width: 15px;
    height: 15px;
    position:relative;
    margin-left: 10px;
    background-color: brown;
    border-radius: 50%;
}

.submit_button{
    position: relative;
    left: 240px;
    width: 45px; height: 40px;
}

#newWindow{
    width: 200px; height: 40px;
    font-size: large;
    border-color: springgreen;
}
